$themes: (
  gamma: (
    page-background: #dfcdb5,
    page-font: #231e15,
    bottom-background: #dfcdb5, 
    bottom-font: #231e15,
    nav-background: #e7891a,
    navitem-font: #edf5e1 ,
    navitem-background: #f8a445,
  ),
  beta: (
    page-background: #363636,
    page-font: #fff,
    bottom-background: #363636,
    bottom-font: #fff,
    nav-background: #2e2e2e,
    navitem-font: #363636,
    navitem-background: #84c9fb
  ),
  alpha: (
    page-background: #f5f5f5,
    page-font: #656565,

    bottom-background: #f5f5f5,
    bottom-font: #656565,

    nav-background: linear-gradient( 90deg, #41b3a3, #85dcba 80%),

    navitem-font: #77d6b2,
    navitem-background: #f4fefb,
  ),
  delta: (
    page-background: #191717,
    page-font: #d1c9c5,
    bottom-background: #191717,
    bottom-font: #5cdb95,
    nav-background: #191717, //linear-gradient( 90deg, #af3e31, #a33327 50%, #af3e31),
    navitem-font: #d1c9c5,
    navitem-background: #a33327
  ),
);


/**
 * theme-aware - Change color of a css property based on the currently active theme
 *
 * @param  {key}     CSS property
 * @param  {color}   Color name defined in the themes under _color-palette.scss
 *
 * @example - @include theme-aware('background', 'color-background');
 * @returns - background: #FFF;
 */
 @mixin theme-aware($key, $color) {
  @each $theme-name, $theme-color in $themes {
    @if $theme-name == 'alpha' {
      #{$key}: map-get(map-get($themes, $theme-name), $color)
    }  @else {
      &.theme-#{$theme-name}  {
        #{$key}: map-get(map-get($themes, $theme-name), $color)
      }
    }
  }
}

* {
  box-sizing: border-box;
  transition-property: color, opacity;
  transition-duration: 0.8s;
  transition-timing-function: ease;
  // old animation function - cubic-bezier(.29, 1.01, 1, -0.68)
}

.App.switching * {
  opacity: 0.4;
}

.App > div {
  display: flex;
  justify-content: center;
  align-items: center;
}



body {
  margin: 0;
  min-height: 100vh;
  text-align: center;
  font-family: 'Comfortaa', cursive;
  font-weight: bold;
}



.nav {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  & .nav-theme {
    user-select: none;
    font-weight: bold;
    border-radius: 12px;
    padding: 0.2rem 0.5rem;
    @include theme-aware(color, navitem-font);
    @include theme-aware(background, navitem-background);
    cursor: pointer;
    // transition: all .2s ease-in-out;
    -webkit-tap-highlight-color: transparent;
    &:active {
      transform: scale(0.99);
    }
  }
  @include theme-aware(background, nav-background);
  @include theme-aware(color, nav-font);
}

@media (hover: hover) {
  .nav .nav-theme:hover {
    filter: brightness(1.05);
  }
}

.middle {
  height: 80vh;
  flex-direction: column;
  @include theme-aware(background, page-background);
  @include theme-aware(color, page-font);
  & > p {
    margin: 5px;
  }
}



.bottom {
  height: 10vh;
  font-size: .9rem;
  @include theme-aware(background, bottom-background);
  @include theme-aware(color, bottom-font);
}




@media (max-width: 1000px), screen and (orientation: portrait) { 
  .nav {
    min-height: 55px;
    & .nav-theme {
      padding: 0.4rem 0.7rem;
      font-size: 1.5rem;
    }
  }
  .middle {
    & > p {
      font-size: 1.3rem;
    }
  }
  .bottom {
    min-height: 40px;
    font-size: 1rem;
  }
}